@model FoodOrdering.Web.Models.Restaurant.SearchResultsViewModel
<div class="s01">
    <form asp-action="SearchRestaurant" asp-controller="Home">
        <fieldset>
            <legend>What would you like to order today?</legend>
        </fieldset>
        <div class="inner-form">
            <div class="input-field first-wrap">
                <input asp-for="SearchString" id="search" type="text" placeholder="e.g: Taco in Cape Town" />
            </div>
            <div class="input-field third-wrap">
                <button class="btn-search" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

@if(ViewBag.DisplaySearchResults)
{
    <p>Testing</p>
}
