@model FoodOrdering.Web.Models.Restaurant.SearchResultsViewModel
@{
    ViewData["Title"] = "Feed me now";
}


@await Html.PartialAsync("~/Views/Shared/DisplayTemplates/Restaurant.cshtml", Model)

@if (ViewBag.ErrorMessage != null)
{
    <p style="color:maroon">@ViewBag.ErrorMessage</p>
}

