@{
    ViewData["Title"] = "Feed me now";
}


@await Html.PartialAsync("~/Views/Shared/_SearchBar.cshtml")

@if(ViewBag.ErrorMessage != null)
{
    <p style="color:maroon">@ViewBag.ErrorMessage</p>
}

